@{
    ViewData["Title"] = "صفحه اصلی";
    // ViewData["Keywords"] = "portfolio, shop, project";
}
@section SEO
{
    <meta name="Keyword" content="main page , shop , index"/>
    <meta name="Description" content="shop description" />
}

<section id="one">
    <header class="major">
        <h2>
            @ViewData["headingTitle"]
        </h2>
    </header>
    <p>
        @ViewBag.headingText
    </p>
</section>

<section id="two">
    <h2>نمونه کارهای اخیر</h2>
    <div class="row">

        @* @foreach (var portfolio in Model)
        {
            <article class="6u 12u$(xsmall) work-item" style="width: 33%;">
                <a href="~/images/thumbs/@portfolio.Image" class="image fit thumb" alt="@portfolio.Title" title="@portfolio.Description">
                    <img src="~/images/thumbs/@portfolio.Image" alt="@portfolio.Title" title="@portfolio.Description" />
                </a>
                <h3>@portfolio.Title</h3>
                <p>@portfolio.Description</p>
            </article>
        } *@

    </div>
</section>